@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-main: #ffffff;
  --bg-secondary: #cfcfcf;
  --bg-tertiary: #f3f4f6;

  /* Text */
  --text-main: #1c1c1c;
  --text-secondary: #353535;
  --text-muted: #868686;

  /* Borders & Dividers */
   --border-light: #e0e0e0;

  /* Accent (Your specified green palette) */
  --accent-primary: rgb(45, 146, 45);  
  --accent-hover: rgb(20, 100, 20);   
  --accent-soft: #588157;

  /* blue Button */
  --blue-button: #6366F1;

  /* Status Colors - Harmonized with accent */
  --success: rgb(26, 124, 26);         
  --warning: #b45309;                 
  --error: #b91c1c;                  

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);

  /* Transitions */
  --transition-fast: 0.2s ease;
  --transition-base: 0.5s ease;

  /* Scrollbar Thumb */
  --scroll-thumb : rgb(185, 185, 185);
}

.dark {
  /* Backgrounds */
  --bg-main: #0a0a0a;
  --bg-secondary: #1d1d1d;
  --bg-tertiary: #2d2d2d;

  /* Text */
  --text-main: #eaeaea;
  --text-secondary: #dbdbdb;
  --text-muted: #b5b5b5;

  /* Borders & Dividers */
  --border-light: #1f1f1f;

  /* Accent (Adjusted for dark mode) */
  --accent-primary: #41b13d;          
  --accent-hover: rgb(49, 110, 49);  
  --accent-soft: #588157;

    /* blue Button */
  --blue-button: #6366F1;

  /* Status Colors */
  --success: #66bb6a;                 
  --warning: #d97706;
  --error: #ef4444;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.8);
  --shadow-md: 0 8px 25px rgba(102, 187, 106, 0.15);

  /* Scrollbar Thumb */
  --scroll-thumb : rgb(27, 27, 27);
}


@font-face {
  font-family: "Marcellus";
  src: url("./assets/fonts/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Font utility classes */
.font-heading {
  font-family: "Marcellus", serif;
}

.font-body {
  font-family: "Oswald", sans-serif;
}


body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: var(--transition-base) ;
    
}

button{
  cursor: pointer;
}

/* Primary Button */

.primary_button {
  background-color: var(--accent-primary); 
  color: white; 
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 3px; 
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
}

.primary_button:hover {
  background-color:  var(--accent-hover); 
  color: white;
}


 /* Secondary Button  */
.secondary_button {
  background-color: var(--bg-secondary); 
  color: var(--text-main); 
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  border: 1px solid var(--border-light);
}

.secondary_button:hover {
  background-color: var(--bg-tertiary);
  color: var(--text-main);
}


